body {

    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	
	
	


}



.jumbotron {

	background-color: white;
	


}



h1 {
	text-align: center;
	font-size: 75px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h2 {
	text-align: center;
	font-size: 40px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h4 {
	text-align: left;
	font-size: 35px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h5 {
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	color: #269;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h6 {
	text-align: left;
	font-size: 20px;
	font-family: fantasy;
	color: #269;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



.btn  {
	

		float: left;
		font-size: 16px;
		display: inline-block;
		font-family: fantasy;
		color: #269;
		background-color: white;
		text-align: center;
		font-weight: bold;
	


}

#button {
	width: 12.5%;
}





.card-header {
	text-align: center;
	font-size: 35px;
	font-family: fantasy;
	color: white;
	text-decoration: underline;
	background-color: #269;
	
	
}






.card-body {
	background-color: white; 
	font-family: Georgia, serif;
	font-size: 16px;
	color: #269;
}

.text {
	font-family: Georgia, serif;
	color: black;
	font-size: 16px;
}


img {
	 display: block;
  	 margin-left: auto;
     margin-right: auto;
     width: 90%;
}

.hive1 {
	width: 90%;
	height: 60%;
	margin-left: 10%;
}

.hive2 {
	width: 90%;
	height: 50%;
	margin-left: 10%;
}



footer {
	font-size: 18px;
	font-family: fantasy;
	color: white;
	font-weight: bold;
	margin-top: 60px;
	padding-bottom: 10px;
	position: static;
   	left: 0;
   	bottom: 0;
   	height: 40px;
   	width: 100%;
   	text-align: center;
   	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


body {

    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	
	
	


}



.jumbotron {

	background-color: white;
	
	


}



h1 {
	text-align: center;
	font-size: 75px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h2 {
	text-align: center;
	font-size: 35px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h4 {
	text-align: left;
	font-size: 30px;
	font-family: fantasy;
	color: #269;
	font-weight: bold;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h5 {
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	color: #269;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


h6 {
	text-align: left;
	font-size: 30px;
	font-family: fantasy;
	color: #269;
	text-decoration: underline;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



.btn  {
	

		float: left;
		font-size: 17px;
		font-family: fantasy;
		color: #269;
		background-color: white;
		text-align: center;
		font-weight: bold;
	
	
	


}

#button {
	position: static;
	float: left;
	font-size: 21px;
	font-family: fantasy;
	color: #269;
	background-color: white;
	text-align: center;
	font-weight: bold;
	width: 25%; 
	display:block;
	padding-bottom: 10px;


}





.card-header {
	text-align: center;
	font-size: 35px;
	font-family: fantasy;
	color: white;
	text-decoration: underline;
	background-color: #269;
	padding-top: 20px;
	
	
}






.card-body {
	background-color: white; 
	font-family: Open Sans;
	font-size: 22px;
	color: #269;
}

.text {
	font-family: Open Sans;
	color: black;
	font-size: 22px;
}


img {
	 display: block;
  	 margin-left: auto;
     margin-right: auto;
     width: 100%;
     height: 100%;
}



.hive1 {
	width: 90%;
	height: 60%;
	margin-left: 10%;
}

.hive2 {
	width: 90%;
	height: 60%;
	margin-left: 10%;
}

#contact {
	font-size: 22px;
}



footer {
	font-size: 25px;
	font-family: fantasy;
	color: white;
	font-weight: bold;
	margin-top: 60px;
	padding-bottom: 10px;
	position: static;
   	left: 0;
   	bottom: 0;
   	height: 40px;
   	width: 100%;
   	text-align: center;
   	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
